<%- set_title 'WebCT / Moodle failid' -%>
<%- catch_errors_for @assessment -%>

<div id="news">
  <h2>Uudised ja muu</h2>
  <ul>
    <li><%= link_to "teachers.ee", "http://teachers.ee" %></li>
    <li>Parandatud moodle failide üleslaadimisel tekkinud vead (2013-01-20)</li>
  </ul>
</div>

<div id="new_file_div">
  <%= link_to "lisa uus fail", "#", :id => "new_file_link" %><br/>
</div>

<br/>

<div id="categories">
  <h2>
    Kategooriate pilv
    <span><a onclick="displayCategoriesCloud();" href="#">(näita / peida)</a></span>
  </h2>

  <ul id="categories_cloud">
    <%- category_cloud(Category.all, %w(c1 c2 c3 c4 c5)) do |cat, css_class| -%>
      <li><%= link_to title(cat.name), [cat, :assessments], :class => "category #{css_class}" %></li>
    <%- end -%>
  </ul>
  <br style="clear: both;"/>
</div>

<br style="clear: both;"/>

<div id="assessments">
  <% if @assessments %>
    <%= render "list", :assessments => @assessments, :category => @category %>
  <% end %>
</div>
