body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
  background-color: #fff;
}
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
html {
  height: 100%;
  margin-bottom: 1px;
}
.spacer {
  width: 100%;
  height: 15px;
}
h1 {
  font-size: 28px;
  color: #c55;
  background-color: #fff;
  font-family: Arial, Verdana, sans-serif;
  font-weight: 300;
  width: 400px;
}
h2 {
  font-size: 15px;
  color: #000;
  font-family: Arial, Verdana, sans-serif;
  font-weight: 300;
}
h3 {
  color: #4d9b12;
  font-size: 15px;
  text-align: left;
  font-weight: 300;
  padding: 5px;
  margin-top: 5px;
}

p {
  color: #000;
  background-color: #fff;
  line-height: 20px;
  padding: 5px;
}
a {
  color: #4d9b12;
  text-decoration: none;
}
a:hover {
  color: #4d9b12;
  background-color: #FFE8E8;
  text-decoration: underline;
}

form.new_assessment, form.new_link {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
#new_file_div {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
#new_file_link {
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
  color: #2A2556;
}

#progress {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
#progress_bar {
  text-align: center;
  padding: 20px;
  font-size: 16px;
}
#progress_percentage {
  font-size: 28px;
}

img { border: 0;}
#dropio_logo {
  position: absolute;
  right: 10px;
}
#dropio_logo div {
  margin: 0l
  padding: 0;
  float: left;
  margin-top: 18px;
}

#assets, #assessments, #links, #calendars, #assessments_spinner {
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

#assets img.thumb {
  cursor: pointer;
}
#assets h3 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 12px;
  color: black;
}
#assets h3 a {
  color: black;
}

#assessments {
  border-spacing: 0;
}
#assessments .odd, #links .odd {
  background-color: #DEDEDE;
}
#assessments thead td, #links thead td {
  font-weight: bold;
}
#assessments caption { font-weight: bold; font-size: 15px; }
#assessments .col2 { width: 45px; }
#assessments .col3 { width: 65px; }
#assessments td { text-align: center; }
#assessments tr td:first-child { text-align: left; padding-left: 5px; }
#assessments thead tr td:first-child { padding-left: 15px; }

.message {
  border: 1px solid black;
  background-color: #FFE2E2;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.message .error li {
  margin-left: 30px;
}

#howto {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 10px;
  border: 1px solid black;
  background-color: #DCE4F2;
}
#howto li {
  margin-left: 20px;
}

#shoutbox {
  position: absolute;
  margin-left: 20px;
  margin-top: 100px;
  padding: 5px;
  border: 1px solid black;
  background-color: #DCE4F2;
  width: 220px;
  font-size: 10px;
}
#shoutbox p {
  bottom-border: 1px solid #743624;
}
#shoutbox p.odd {
  background-color: #DCE4F2;
}
#shoutbox p.even {
  background-color: #BDD1F2;
}
#shouts span {
  float: left;
  font-size: 8px;
  text-decoration: underline;
}

#menu {
  position: absolute;
  margin-top: 50px;
  margin-left: 20px;
  font-size: 14px;
  list-style-type: none;
}
#menu .selected {
  font-weight: bold;
}

#calendars h2 {
  font-size: 20px;
  color: #121A84;
}
#calendars li {
  margin-left: 40px;
}

/********************
 * CATEGORIES CLOUD *
 ********************/
#categories {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border: 1px solid black;
  background-color: #DCE4F2;
}
#categories ul {
  list-style: none;
}
#categories ul li {
  float: left;
  margin-left: 12px;
  padding: 3px;
}
#categories ul li a.c1 { font-size: 11px; }
#categories ul li a.c2 { font-size: 14px; }
#categories ul li a.c3 { font-size: 17px; }
#categories ul li a.c4 { font-size: 19px; }
#categories ul li a.c5 { font-size: 21px; }

/****************
 * AUTOCOMPLETE *
 ****************/
div.autocomplete {
  margin: 0;  
  padding: 0;  
  width: 250px;
  background: #fff;
  border: 1px solid #888;
  position: absolute;
}

div.autocomplete ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

div.autocomplete ul li.selected { 
  background-color: #ffb;
}

div.autocomplete ul li {
  margin: 0;
  padding: 2px;
  height: 32px;
  display: block;
  list-style-type: none;
  cursor: pointer;
}

#upload_step_two {
  padding: 10px;
}
#new_assessment_done_button {
  background: url(/images/new_assessment_done.png) no-repeat;
  width: 129px;
  height: 29px;
  margin-top: 3px;
  float: right;
  cursor: pointer;
}
#new_assessment_done_button:hover {
  background: url(/images/new_assessment_done_hover.png) no-repeat;
}
#upload_step_two td {
  padding: 5px;
}
#upload_step_two input {
  width: 330px;
}
.actions {
  margin-left: auto;
  margin-right: auto;
}

#fancybox-wrap a:hover {
  background-color: transparent;
}
