development:
  adapter: postgresql
  database: ut_development
  username: 
  password: 
  host: localhost

test:
  adapter: postgresql
  database: ut_test
  username: 
  password: 
  host: localhost

production: 
  adapter: postgresql
  database: ut_production
  username: 
  password: 
  host: localhost
