set :application, 'webct'
set :repository,  ''
set :domain,      ''
set :deploy_to,   "/var/www/#{application}"

set :scm, :git
set :deploy_via, :remote_cache
set :branch, 'master'

set :use_sudo, false
set :ssh_options, {:forward_agent => true}
set :user, 'root'

role :app, domain
role :web, domain
role :db,  domain, :primary => true

namespace :deploy do
  desc 'Create symlinks'
  task :symlink_shared do
    run "ln -nfs #{shared_path}/log #{release_path}/log"
    run "ln -nfs #{shared_path}/config/database.yml #{release_path}/config/database.yml"
    run "ln -nfs #{shared_path}/db/schema.rb #{release_path}/db/schema.rb"
    run "ln -nfs #{shared_path}/db/production.sqlite3 #{release_path}/db/production.sqlite3"
  end

  desc "Start the application servers."
  task :start do
    run "cd #{release_path}; ./script/server -e production -d -p 4000"
  end

  desc 'Stop the application servers.'
  task :stop do
    run 'killall ruby -q'
  end 

  desc "Restarts your application."
  task :restart do
    run 'killall ruby'
    run "cd #{release_path}; ./script/server -e production -d -p 4000"
  end
end

after 'deploy:update_code', 'deploy:symlink_shared'
