<%- set_title 'Lehekülg suletud' -%>

<div style="width: 500px; margin-left: 10px;">
  <p>Serveri administraator on sunnitud lehe maha võtma seoses illegaalselt vastuste jagamistega internetis.<br/>
  Kõigi lehe külastajatega võetakse üksikisikuliselt ühendust.</p>
  
  <p style="font-size: 18px;">Teie IP: <strong><%= @ip %></strong> (salvestatud)</p>
</div>
